body{
  color:white;
  font-size: large;
}
.header{
  background-color: #068d8f;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.header h1{
  padding: 30px;
  text-align: center;
  font-size: 30px;
  font-family: Spartan, sans-serif;
  animation-name: example;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from{ color: rgb(255, 255, 255);}
  to {color: rgb(97, 103, 109);}
  to {color: rgb(3, 63, 43);}
}

.header img{
  width: 100px;
  height: 100px;
  text-align: left;
  padding-bottom: 0px;
}

label{
  font-size: 15px;
  margin-left: 0px;
  font-weight: bold;
}
label:first-of-type{
  margin-left: 10;
}
input{
  height: 25px;
}
select{
  width: 200px;
  margin-left: 45px;
}
select:first-of-type{
  margin-left: 0px;
}

button{
  display: block;
  width: 100px; 
}

.box-1{
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
}
.box-2{
  font-size: 13px;
  text-align: right;
  margin-right: 2.5%;
  margin-top:10%;
  font-style:italic;
  font-weight: bold;
}
.container{
  margin-top: 30px;
  padding: 10px;
  align-items: center;
   box-shadow: 0px 10px 50px rgba(0, 0, 0, 7);
}
.center-box{
  margin-top: 30px;
  text-align: center;
  padding: 0 auto;
  justify-content: space-around;
  width: 100%;
}

.button{
  margin: 50px;
  text-align: center;
  justify-content: space-around;
  padding: 0 auto;
}

.button:hover{
  color: #116466;
}